/* Colors #6a431e, #ddd9b2, #f0d47d, #7a2e25, #190702, #0f0e0a  */
.creature {
  margin-bottom: 2rem;
  background: #ddd9b2 !important;
  border-color: #6a431e;
}
.creature > .card-body > .card-deck > .card {
  margin-right: 10px;
  margin-left: 10px;
}
.creature > .card-body > .card-title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: left;
}

.card {
  border-color: #6a431e !important;
}

.creature .card {
  background: none !important;
  border-color: #6a431e !important;
}
.creature .card-deck {
  margin-bottom: 2rem;
}
.creature .card-deck:last-child {
  margin-bottom: 0;
}
.stat .card-header {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  border-color: #7a2e25 !important;
}
.stat .card-title {
  padding: 1rem 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: none !important;
}
.long-stats .stat .card-title {
  font-size: 1rem;
  text-align: left;
  padding: 1.5rem;
}
